---
name: Notarize macOS binaries
on:
  release:
    # We notarize after publishing, so there's a short window of time where
    # new releases won't pass Gatekeeper when run for the first time.
    # Notarization is quick and retroactive, so this is OK.
    types: [published]

jobs:
  notarize:
    name: Notarize macOS binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - aarch64-apple-darwin
          - x86_64-apple-darwin
    steps:
      - name: Extract App Store API key bundle
        shell: bash
        env:
          APP_STORE_CONNECT_API_KEY_JSON: ${{ secrets.APP_STORE_CONNECT_API_KEY_JSON }}
        run: |
          echo "$APP_STORE_CONNECT_API_KEY_JSON" > ./api_key.json

      - name: Download ZIP archive
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PATTERN: "*-${{ matrix.target }}.zip"
        run: |
          gh release download "$GITHUB_REF_NAME" -R "$GITHUB_REPOSITORY" --pattern "$PATTERN" -O archive.zip

      - name: Notarize
        uses: indygreg/apple-code-sign-action@44d0985b7f4363198e80b6fea63ac3e9dd3e9957 # v1.1
        with:
          sign: false # Already signed.
          notarize: true
          staple: false # Can't staple notarization tickets to Mach-O binaries.
          input_path: ./archive.zip
          app_store_connect_api_key_json_file: ./api_key.json
